entrypoint = "main.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Run Discord Bot"

[[workflows.workflow]]
name = "Run Discord Bot"
author = 23638913
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
